@model CourseWithdepartmentsViewModel
@{
    ViewData["Title"] = "New";



    SelectList deptItems = new SelectList(Model.departments, "Id", "Name");
}

<h1>New</h1>





<form asp-action="SaveNew" asp-controller="Course" method="post">

    <div asp-validation-summary="All"></div>
    <div>


        <div>
            <label asp-for="Name"> </label>
            <input asp-for="Name" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

        </div>
        
        <div>
            <label asp-for="degree"> </label>
            <input asp-for="degree" class="form form-control" />
        <span asp-validation-for="degree" class="text-danger"></span>

        </div>
        <div>
            <label asp-for="minDegree"> </label>
            <input asp-for="minDegree" class="form form-control" />
        <span asp-validation-for="minDegree" class="text-danger"></span>

        </div>
        <div>
            <label asp-for="hours"> </label>
            <input asp-for="hours" class="form form-control" />
        <span asp-validation-for="hours" class="text-danger"></span>

        </div>
   

    <div>
        <label asp-for="deptId">department</label>
        <select asp-for="deptId" asp-items="deptItems" class="form form-control"> 

                <option value="0">-- Select Department --</option>

        </select>
                <span asp-validation-for="deptId" class="text-danger"></span>



  

    </div>





        <input type="submit" value="Save" class="btn btn-success" />

    </form>
    <br />
<a href="/Course/Index">Back To List</a>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>


@* <!--Jqury Links--> *@
@* <script src="~/lib/jquery/dist/jquery.js"></script>  *@
@* <script src=" ~/lib/jquery-validation/dist/jquery.validate.js/jquery.validate.min.js"></script> *@

@* <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js/jquery.validate.unobtrusive.min.js"></script> *@





